Practica-Serializacion/obj/
Practica-Serializacion/.vs/
Problemas\Problemas\bin
Problemas\Problemas\obj
Problemas\Problemas\Properties
ValidarCampos\Validar\bin
ValidarCampos\Validar\obj
ValidarCampos\Validar\Properties
